.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 0;
}

h5 {
  font-family: "Lora", serif;
}

.hover-zoom {
  transition: transform 0.5s ease;
}

.hover-wrapper:hover .hover-zoom {
  transform: scale(1.1);
}

#hero-title {
  z-index: 10;
}
